<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col" style="width: 15%;">{{ __('Actions') }}</th>
            <th scope="col">{{ __('Order') }}</th>
            <th scope="col" style="width: 15%;">{{ __('Payment Method') }}</th>
            <th scope="col" style="width: 15%;">{{ __('Payment Status') }}</th>
            <th scope="col" style="width: 15%;">{{ __('Created at') }}</th>
        </tr>
    </thead>
    <tbody>

    {% for order in orders.data %}
        <tr>
            <td>
                <div class="dropdown show">
                    <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenu-{{ order.code }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ __('Actions') }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenu-{{ order.code }}">
                        <a class="dropdown-item" href="{{ thank_page }}/{{ order.token }}" target="_blank">
                            {{ __('View') }}
                        </a>

                        {% if order.payment_status == 'completed' and order.downloadable_products_exists %}
                            <a class="dropdown-item" href="{{ route('ecommerce.orders.download', [order.code]) }}">
                                {{ __('Download') }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </td>
            <td>
                <a target="_blank" href="{{ thank_page }}/{{ order.token }}">
                    #{{ order.code }}
                </a>
            </td>
            <td>{{ order.payment_method.name }}</td>
            <td>
                {% if order.payment_status == 'completed' %}
                    <span class="badge badge-success">{{ order.payment_status_text }}</span>
                {% elseif order.payment_status == 'pending' %}
                    <span class="badge badge-warning">{{ order.payment_status_text }}</span>
                {% else %}
                    <span class="badge badge-danger">{{ order.payment_status_text }}</span>
                {% endif %}
            </td>
            <td>{{ order.created_at }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ paginate_links(orders, 'theme::components.pagination') }}
